<!DOCTYPE html>
<html>
<head>
<title>All Users</title>
</head>
<body>

<h1> All Users list</h1>

{{#each users}}
<ul>
   <li>{{name}}</li> 
   <li>{{contactno}}</li> 
   <li>{{email}}</li> 
   <li>{{message}}</li> 
   <li>{{gender}}</li> 
   </ul>
{{/each}}
</body>
</html>